<h1><%= review.title %></h1>
<p><%= truncate(review.content, length: 100, separator: ' ') { h(' ') + link_to('continued', review) } %>
  <span class='rating-<%= review.rating %>'><%= review.rating %> Stars</span>
</p>
