<div class="review">

  <%= image_tag review.band.avatar.url(:thumb) %><br />
  <span class="stars" data-number="<%= review.rating %>"><%= review.rating %> Stars</span>

  <h1><%= link_to truncate(review.title, length: 50, separator: ' '), review %></h1>

</div>
